gray(color, opacity = 1)
	return rgba(color,color,color, opacity)

width = 920px

*
	border 0
	padding 0
	margin 0
	box-sizing border-box


body
	background-color gray(205)
	font-size 16px
	font-family Arial, sans-serif

h1
	font-size 4em
	font-family Helvetica
	margin-bottom 1em

#wrapper
	width width
	background-color white
	margin 0 auto
	text-align center
	padding: 50px 40px

#htmlCanvas
	background-color gray(200)
	position relative
	max-width 600px
	margin 0 auto
	transition-property width, height
	transition-duration 0.2s

.pixel
	position absolute
	display block


@media (max-width: 1200px)

	#wrapper
		width 100%


@media (max-width: 800px)

	html
		height 100%

	body
		height 100%

	h1
		font-size 1em

	header
		height 15%

	#game
		height 85%

	#wrapper
		height 100%
		padding 0.1em 0

	#htmlCanvas
		max-width 100%
		max-height 100%


@import blocks
