gray(color, opacity = 1)
	return rgba(color,color,color, opacity)

width = 920px

*
	border 0
	padding 0
	margin 0
	box-sizing border-box

html
	height 100%

body
	background-color gray(200)
	height 100%
	font-size 16px

h1
	font-size 4em
	font-family Helvetica
	margin-bottom 1em

#wrapper
	width width
	background-color white
	margin 0 auto
	height 100%
	text-align center
	padding: 80px 50px

#canvas
	background-color gray(200)

